[submodule "submodules/genmap"]
	path = submodules/genmap
	url = https://github.com/mariehoffmann/genmap.git
[submodule "submodules/sdsl-lite"]
	path = submodules/sdsl
	url = https://github.com/simongog/sdsl-lite.git
# [submodule "submodules/sdsl-lite"]
# 	path = submodules/sdsl-lite
# 	url = https://github.com/xxsds/sdsl-lite.git
