# Log files
wget-log*
.ipynb_checkpoints

# Python notebook
*.ipynb

# ignore work directory
tests/*
benchmarks/bin*
benchmarks/build*
benchmarks/googlebenchmark
index.zip
**/index
**/tmp

# exclude working directory content, but not index.zip!
**/123/app
**/123/table
**/123/index/
**/123/mapping
**/3041/app
**/3041/table
**/3041/index/
**/3041/mapping
!index.zip


# cmake
Makefile
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
CMakeFiles

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS
.DS_Store
